<!DOCTYPE html>
<html>
  <head>
    <title>{{ if .Title }}{{ .Title }} - {{ end }}Justin Campbell</title>
    {{ $css := resources.Get "css/all.css" | fingerprint "md5" }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
    <meta name="viewport" content="width=device-width">
    <meta name="build-time" content="{{ now.UTC.Format "2006-01-02T15:04:05Z" }}">
  </head>
  <body>
    {{ partial "sidebar.html" . }}
    <div id="content">{{ block "main" . }}{{ end }}</div>
    {{ template "_internal/google_analytics.html" . }}
    {{ $js := resources.Get "js/all.js" | fingerprint "md5" }}
    <script src="{{ $js.RelPermalink }}"></script>
  </body>
</html>
