ul#burritos
  - (1..12).to_a.reverse.each do |n|
    li data-weeks-ago=n &nbsp;
#last-burrito
  div = @burritos.first[:venue]
  div = "#{time_ago_in_words @burritos.first[:createdAt]} ago"
ul#top-burritos
sass:
  #burritos
    li
      background: red
      display: inline-block
      float: left
      margin: 10px
      height: 1px
      min-height: 1px
      width: 50px
javascript:
  rawBurritos = #{raw @burritos.to_json}
coffee:
  DAY_LENGTH = 1000 * 60 * 60 * 24
  WEEK_LENGTH = DAY_LENGTH * 7
  YEAR_LENGTH = WEEK_LENGTH * 52

  MAXIMUM_HEIGHT = 100

  class Burrito
    constructor: (attributes) ->
      @createdAt = new Date attributes.createdAt
      @venue = attributes.venue

    @all: new Burrito burrito for burrito in rawBurritos

    @allForWeeksAgo: (weeksAgo) ->
      @all.filter (burrito) ->
        (new Date(new Date() - WEEK_LENGTH * weeksAgo)) <
        burrito.createdAt <
        (new Date(new Date() - WEEK_LENGTH * (weeksAgo - 1)))

    createdAt: @createdAt
    venue: @venue

  class Week
    constructor: (weeksAgo) ->
      @burritos = Burrito.allForWeeksAgo weeksAgo
      @weeksAgo = weeksAgo

    burritos: @burritos
    weeksAgo: @weeksAgo

  $ ->
    # Create the weeks with burritos
    weeks = (new Week weeksAgo for weeksAgo in [1..12])

    # Find the maximum burritos per week
    maximum = 0
    for week in weeks
      count = week.burritos.length
      maximum = count if count > maximum

    # Set the height of the elements
    for week in weeks
      ago = week.weeksAgo
      count = week.burritos.length
      size = (count / maximum) * MAXIMUM_HEIGHT

      element = $("#burritos > li[data-weeks-ago=#{ago}]")
      element.height size

