<div id="card">
  Hi! I'm <span class="orange">Justin Campbell</span>.<br />
  I <span class="lightblue">create websites</span> using<br />
  <span class="yellow">Ruby</span> and <span class="blue">JavaScript</span>,<br />
  and dabble in <span class="green">design</span>.<br />
  I'm also an awesome<br />
  <span class="white">Systems Engineer</span>.
</div>
