body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  text-align: center;
  text-rendering: optimizeLegibility;
  background-color: white;
  line-height: 1.5;
}

#wrapper {
  width: 780px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

h1 {
  font-size: 100px;
  letter-spacing: -8px;
  margin: 20px;
  text-decoration: none;
}

h3 {
  font-size: 24px;
  margin: 0px;
  text-decoration: none;
}

p {
  #text-indent: 2em;
}

.gray {
  color: gray;
}

.date {
  color: gray;
  font-style: italic;
}

a, a:visited, a:hover {
  text-decoration: underline;
  color: #333333;
}

h1 a, h1 a:visited, h1 a:hover {
  text-decoration: none;
  color: #333333;
}

h3 a, h3 a:visited, h3 a:hover {
  text-decoration: none;
  color: #333333;
}

.post {
  background-color: #EEEEEE;
  margin: 10px;
  padding: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  text-align: left;
}

img {
  background-color: black;
  width: 720px;
  padding: 10px;
  margin-bottom: 25px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

pre {
  padding: 10px;
}

pre, code {
  background-color: white;
}

.read_more_container {
  display: block;
  text-align: right;
  margin-bottom: 0px;
}

.read_more {
  color: white;
  background-color: #CCC;
  padding: 10px;
  margin-right: -10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  border-bottom-right-radius: 10px;
}

.read_more:hover {
  background-color: #999;
}

#description {
  color: gray;
  text-align: right;
}