<div id="footer_wrapper">
  <div id="footer">
    <%= link_to "Résumé", resume_path %> |
    <%= link_to "GitHub", "http://github.com/JustinCampbell" %> |
    <%= link_to "@JustinCampbell", "http://twitter.com/JustinCampbell" %>
  </div>
</div>
